# IDEs
.vscode/
.idea/

# Backend
backend-sim/venv/
backend-sim/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Frontend is covered by frontend-3d/.gitignore but to be safe:
node_modules/
dist/
